/* 

---------------TYPOGRAPHY---------------
FONT SIZES
- 400 (Regular)
- 500 (Medium)
- 600 (Semi Bold) 
- 700 (Bold)

FONT FAMILY
Inter

 */

/* ------------------ GLOBAL STYLES ------------------ */

.loginBody {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url('../assets/images/fighter-jet-blueprint.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
    max-width: 533px;
    width: 90%;
    margin: 0 auto;
}

/* ------------------ COMPONENTS ------------------ */
.loginBox {
    border: 3px solid #FAFAFA;
    border-radius: 36px;
    backdrop-filter: blur(6.9px);
    padding: 5.4rem 5rem;
    text-align: center;
}

.logoMd {
    max-width: 50rem;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 2.2rem 3.3rem;
    margin-bottom: 4.4rem;
    border: 3px solid #1F1A17;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
}

.loginInput {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #D9D9D9;
    padding: 0.4rem 0.2rem;
    margin-bottom: 5.3rem;
    font-size: 2rem;
    color: #FFFFFF;
    outline: none;
}

.loginInput::placeholder {
    color: #D9D9D9;
}

.loginButton {
    text-align: center;
    max-width: 100%;
    font-size: 3rem;
    font-weight: 600;
    background-color: #FFFFFF;
    padding: 0.4em 3em;
    border-radius: 30px;
    border: 3px solid #1F1A17;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
}

.loginButton:hover {
    transform: scale(1.05);
}

.loginButton:disabled {
    background-color: #c4c1c1;
}

.loginHeading {
    color: #FFFFFF;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 4.4rem;
    letter-spacing: -4%;
}

/* LOADING SPINNING ICON */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}